<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>FlexStart Bootstrap Template - Index</title>



  <!-- Favicons -->
  <link type="text/css"href="../public/assets/img/favicon.png" rel="icon">
  <link type="text/css" href="../public/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link type="text/css"  href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link type="text/css"  href="../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link type="text/css" href="../public/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link type="text/css" href="../public/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link type="text/css" href="../public/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  



  <!-- Template Main CSS File -->
  <link type="text/css" href="../public/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: FlexStart - v1.9.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

  <!-- =======================================================
  * Template Name: FlexStart - v1.9.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
  .word{
    font-size: 20px;
    font-weight: bold;
  }
  video {
  background-color: #ddd;
  border-radius: 7px;

  width: 400px;
  height: 300px;
}
.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
button{
  border-radius: 0.25rem;
  color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  width: 200px;
  height: 50px;

}
.btn{
  background-color: #007bff;
  font-weight: bold;
  color: white;
}
</style>

<body>
<main>
  <div  id="welcome">
    <form>
      <input type="text" required>
      <button>Enter Rooms</button>
    </form>
    <h4>open Rooms</h4>
    <ul></ul>
  </div>

<div id="room">

<!-- ======= Pricing Section ======= -->
    <section class="pricing"  >
    

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>Open Rooms</h3>
        </header>

        <div class="row" data-aos="fade-left">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
             
              <div class="word">가래를<br> 빼주세요</div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
   
              <div class="word">숨쉬기가<br> 힘들어요</div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
     
              <div class="word">침을<br> 빼주세요</div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
       
              <div class="word">침을<br> 빼주세요</div>
            </div>
          </div>

          
        </div>
        
        <div class="row gy-4" data-aos="fade-left" style="margin-top: 3%;">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <div class="box">
              
              <div class="word">가래를<br> 빼주세요</div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <div class="box">
    
              <div class="word">숨쉬기가<br> 힘들어요</div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
         
              <div class="word">침을<br> 빼주세요</div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <div class="box">
           
              <div class="word">침을<br> 빼주세요</div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Pricing Section -->
    <div class="row gy-3" style="margin: 0 auto;">

      <div class="col-lg-3 col-md-6">
        <video  id="myFace" autoplay="autoplay", playsinline,muted></video>   </div>
      <div class="col-lg-3 col-md-6" >
      <video  id="peerFace" autoplay="autoplay", playsinline></video>   </div>

 
      <div class="col-lg-6 col-md-6" data-aos="zoom-in" data-aos-delay="300">
     
        <div class="panel panel-primary">
                  
          <div class="panel-body" id="chatting">
      
          </div>
          <div class="panel-footer" >
              <div class="input-group" id="chatmsg">
                <form id="msg">
                  <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here...">
                  <span class="input-group-btn">
                      <button class="btn  btn-sm" id="btn-chat" style="width:200px" >
                          Send</button>
                  </span>
                </form>
              </div>
          </div>
      </div>
      </div>
 

  </div>
  <!---button-->
  <div class="row gy-4" data-aos="fade-left" >

    <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
      <button class="btn  btn-sm" id="mute" style="width:200px" >
        Mute</button>      <button class="btn  btn-sm" id="camera" style="width:200px" >
          camerOff</button> 

  </div>
  

</div>

    
   
  
  </div><!-- End #main -->

</main>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <script src="/socket.io/socket.io.js"></script>

  
  
  <!-- Vendor JS Files -->
  <script type="text/babel"src="../public/assets/vendor/purecounter/purecounter.js"></script>
  <script type="text/babel" src="../public/assets/vendor/aos/aos.js"></script>
  <script  type="text/babel" src="../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script  type="text/babel" src="../public/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script type="text/babel" src="../public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script type="text/babel" src="../public/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script type="text/babel" src="../public/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script type="text/babel" src="../public/assets/js/main.js"></script>
  
  <script  src="../public/js/app.js"></script>

</body>

</html>